# Configuration for Macocci7\PhpScatterplot\Plotter

props:
    imageDriver: 'imagick'
    layers: []
    canvasWidth: 600
    canvasHeight: 500
    canvasBackgroundColor: '#ffffff'
    frameXRatio: 0.8
    frameYRatio: 0.7
    axisColor: '#666666'
    axisWidth: 1
    gridColor: '#dddddd'
    gridWidth: 1
    gridXPitch: null
    gridYPitch: null
    #gridXMax:
    #gridXMin:
    #gridYMax:
    #gridYMin:
    gridX: false
    gridY: false
    #pixPitchX:
    #pixPitchY:
    #xLimitUpper:
    #xLimitLower:
    #yLimitUpper:
    #yLimitLower:
    plotDiameter: 2
    plotColor: '#000000'
    fontPath: 'fonts/ipaexg.ttf' # IPA ex Gothic 00401
    #fontPath: 'fonts/ipaexm.ttf' # IPA ex Mincho 00401
    fontSize: 16
    fontColor: '#333333'
    outlier: true
    outlierDiameter: 2
    outlierColor: '#ff0000'
    mean: false
    meanColor: '#0000ff'
    referenceLineX: false
    #referenceLineXValue:
    referenceLineXWidth: 1
    referenceLineXColor: '#0000ff'
    referenceLineY: false
    #referenceLineYValue:
    referenceLineYWidth: 1
    referenceLineYColor: '#0000ff'
    specificationLimitX: false
    #specificationLimitXLower:
    #specificationLimitXUpper:
    specificationLimitXWidth: 1
    specificationLimitXColor: '#ff0000'
    specificationLimitY: false
    #specificationLimitYLower:
    #specificationLimitYUpper:
    specificationLimitYWidth: 1
    specificationLimitYColor: '#ff0000'
    regressionLine: false
    regressionLineWidth: 2
    regressionLineColor: '#00cc00'
    labels: []
    labelX: ''
    labelY: ''
    caption: ''
    legend: false
    #legendCount:
    legends: []
    legendWidth: 100
    legendFontSize: 10
    colors:
        - '#3333cc'
        - '#cc3333'
        - '#339933'
        - '#33cccc'
        - '#cc3333'
        - '#ffcc33'
        - '#cccc33'
        - '#cc33cc'
    regressionLineColors:
        - '#ff0000'
        - '#ff6666'
        - '#ff9933'
        - '#ff0066'
        - '#ff00cc'
        - '#ff6600'
        - '#ffcc00'
        - '#ff00ff'
